.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-color: #24263B;
  background-size: cover;
}


.profile-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  padding: 20px;
}

.profile-details {
  font-size: 24px;
  font-family: "Poppins SemiBold";
  margin-bottom: 20px;
}

.profile-role h1 {
  font-size: 40px;
  font-family: cursive;
  margin: 0;
}

.primary-text {
  color: var(--white);
}

.highlighted-text {
  color: var(--dark-orange);
}

.profile-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}

.profile-options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-options .highlighted-btn {
  background-color: #ff5823;
  margin-left: 20px;
}
.profile-options .primary-btn {
  background-color: #ff5823;
  margin-left: 20px;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 20px;
}

.profile-picture-background {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/Home/7708564861.jpg");
  background-size: cover;
  border-radius: 50%;
}



.colz .colz-icon i{
  color: white;
  padding: 5px;
}

